.post {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid hsl(240, 21%, 92%);
    display: flex;
    gap: 1rem;
}

.post:last-child {
    border-bottom: none;
    padding-bottom: 2rem;
}

.post__avatar {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.post__contact-name {
    font-weight: 800;
}

.post header {
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
}

.post__right {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.post__img {
    border-radius: 0.5rem;
    object-fit: cover;
    width: 400px;
    max-width: 100%;
}
