:root {
    --color-primary: #725dfd;
    /* --color-primary: #41c452; */
    --color-grey-very-light: hsl(0, 0%, 98%);
    --color-grey-light: hsl(0, 0%, 92%);
    --color-grey-middle: hsla(0, 0%, 0%, 0.451);
    --animation-fade-in: fadein 1s;
}
